<!DOCTYPE html>
<html ng-app="movieApp">  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie App</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/css/site.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1><a href="/">Movie App</a></h1>
            </div>            
        </header>
        <nav>
            <div class="container" ng-controller="SearchController">
                <form class="form-inline" ng-submit="search()">
                    <label class="sr-only" for="title-search">Title</label>
                    <div class="input-group col-sm-12">
                        <input type="text" class="form-control" id="title-search" placeholder="Search title" ng-model="query" ng-keyup="keyup()" ng-keydown="keydown()">
                        <span class="input-group-btn custom">
                            <button type="button" class="btn btn-primary" ng-click="search()">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <section>
            <div class="container">
                <div ng-view=""></div>
            </div> 
        </section>
        <footer>
            <div class="container">
                Copyright © Paul James Millar 2017
            </div>             
        </footer>  

        <script src="/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/angular/angular.min.js"></script>
        <script src="/angularresource/angular-resource.min.js"></script>        
        <script src="/angularroute/angular-route.min.js"></script>        
        <script src="/angularmocks/angular-mocks.js"></script>        
        <script src="core/movie-app.js"></script>
        <script src="services/omdb-service.js"></script>
        <script src="services/popular-movies-service.js"></script>
        <script src='directives/movie-result-directive.js'></script>
        <script src='filters/from-now-filter.js'></script>
        <script src='controllers/search-controller.js'></script>
        <script src='controllers/results-controller.js'></script>
        <script src='controllers/home-controller.js'></script>
    </body>
</html>